{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'table.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
  	<div class="table">
  		<div class="table-header">
  			<div class="header__item"><a id="name" class="filter__link" href="#">Project</a></div>
  			<div class="header__item"><a id="manager" class="filter__link filter__link--number" href="#">Manager</a></div>
  			<div class="header__item"><a id="tasklink" class="filter__link filter__link--number" href="#">Task UI</a></div>
			<div class="header__item"><a id="labellink" class="filter__link filter__link--number" href="#">Labeling UI</a></div>
			{% if user.is_manager or user.is_admin %}
			  <div class="header__item"><a id="delete" class="filter__link filter__link--number" href="#">Delete</a></div>
			  <div class="header__item"><a id="add-annotator" class="filter__link filter__link--number" href="#">Add Annotator</a></div>
			  <div class="header__item"><a id="add-annotator" class="filter__link filter__link--number" href="#">Remove Annotator</a></div>
			{% endif %}
  		</div>
  		<div class="table-content">
        {% for project in projects %}
  			<div class="table-row">
  				<div class="table-data">{{ project.name }}</div>
  				<div class="table-data">{{ project.manager.username }}</div>
  				<div class="table-data"><a href="/label/{{ project.name }}/labelit-tasks">Link</a></div>
				<div class="table-data"><a href="/label/{{ project.name }}/labelit">Link</a></div>
				{% if user.is_manager or user.is_admin %}
					<div class="table-data"><a href="/projects/{{ project.id }}/delete"> Delete </a></div>
					<div class="table-data"><a href="/projects/{{ project.name }}/add-annotator"> Add Annotator </a></div>
					<div class="table-data"><a href="/projects/{{ project.name }}/remove-annotator"> Remove Annotator </a></div>
				{% endif %}
  			</div>
  		  {% endfor %}
  		</div>
  	</div>
  </div>
{% endblock %}