form {
    padding-top: 50px;
    padding-right: 0%;
    display: table;
    height:10%; 
    margin: 0 auto;
  }

.form-text{
  display: table;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

button:hover {
    opacity: 0.8;
  }

.errorlist
  {
      color: red;
  }